<ul>
  <li (click)="onChangeOption('ChatWithMe')">
    <ng-icon class="icon" name="heroChatBubbleLeftRightSolid"></ng-icon>
    {{ "CHAT_WITH_US" | transloco }}
  </li>
  <li (click)="onChangeOption('LiveChat')">
    <ng-icon class="icon" name="heroChatBubbleOvalLeftEllipsisMini"></ng-icon>
    {{ "LIVE_CHAT" | transloco }}
  </li>
  <li (click)="onChangeOption('ChangeLanguage')">
    <ng-icon class="icon" name="heroLanguageMini"></ng-icon>
    {{ "LANGUAGE_OPTIONS" | transloco }}
  </li>
  <li (click)="onChangeOption('DownloadResume')">
    <ng-icon class="icon" name="heroArrowDownTraySolid"></ng-icon>
    {{ "GET_MY_RESUME" | transloco }}
  </li>
  <li (click)="onChangeOption('BookAppointment')">
    <ng-icon class="icon" name="heroCalendarDaysSolid"></ng-icon>
    {{ "BOOK_APPOINTMENT" | transloco }}
  </li>
  <li (click)="onChangeOption('ToggleTheme')">
    <ng-icon class="icon" name="heroMoonSolid"></ng-icon>
    {{ "DARK_LIGHT_MODE" | transloco }}
  </li>
</ul>
