<!-- Footer -->
<footer class="footer-area">
  <div class="container">
    <div class="footer-content text-center">
      <a routerLink="/" class="logo">
        <img src="assets/images/logo.svg" alt="Logo">
      </a>
      <ul class="footer-menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/works">Works</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
      <p class="copyright">
        &copy; All rights reserved by <span>Krishnadas N</span>
      </p>
    </div>
  </div>
</footer>
